.root {
	-fx-background-color: black;
}

Text {
	-fx-fill: white;
}

Button {
	-fx-border-color: white;
	-fx-background-color: black;
	-fx-text-fill: white;
}

CoordinateButton {
	-fx-background-radius: 0.0%;
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-border-color: transparent;
}
